@reportHeight: 350px;

@purple: #ec6f84;
@vintageBlack: #3B3B3B;
@plinky: #FF195B;

body {
    background-color: @vintageBlack;
    p {
        background-color: darken(@vintageBlack, 20%);
        color: #ffffff;
        padding: 20px;
        span {
            color: #ffff00;
        }
    }
}


.drug-report {
    height: @reportHeight;
        svg path {
            opacity: 0.5;
        }
}

#dmdma {
    background-color: darken(@purple, 10%);
    background-image: url(../src/client/images/mdma.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 75%;
    background-attachment: fixed;
}

#ddmt {
    background-color: #f24949;
    color: darken(#6b5e50, 10%);
    background-image: url(../src/client/images/dmt.svg);
    background-repeat: no-repeat;
    background-position: 35% 50%;
    background-size: 36%;
    background-attachment: fixed;
}

#dlsd {
    background-image: url(../src/client/images/nebula1.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;   
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}