body {
  background-color: #3b3b3b;
}
body p {
  background-color: #080808;
  color: #ffffff;
  padding: 20px;
}
body p span {
  color: #ffff00;
}
#pagination-and-sort,
#bottom-pagination {
  text-align: center;
}
.drug-report {
  height: 350px;
}
.drug-report svg path {
  opacity: 0.5;
}
.drug-report#d2c-e .axis path,
.drug-report#d2c-e .axis line,
.drug-report#d2c-e .axis text {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}
.drug-report#d2c-i .axis path,
.drug-report#d2c-i .axis line,
.drug-report#d2c-i .axis text {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}
.drug-report#d2c-e .axis path,
.drug-report#d2c-e .axis line,
.drug-report#d2c-e .axis text {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}
.drug-report#d2c-b .axis path,
.drug-report#d2c-b .axis line,
.drug-report#d2c-b .axis text {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}
.drug-report#d2c-t-2 .axis path,
.drug-report#d2c-t-2 .axis line,
.drug-report#d2c-t-2 .axis text {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}
.drug-report#d2c-t-7 .axis path,
.drug-report#d2c-t-7 .axis line,
.drug-report#d2c-t-7 .axis text {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}
.drug-report#dlsd .axis path,
.drug-report#dlsd .axis line,
.drug-report#dlsd .axis text {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}
.drug-report#d2c-e svg path {
  opacity: 1;
}
.drug-report#d2c-i svg path {
  opacity: 1;
}
.drug-report#d2c-e svg path {
  opacity: 1;
}
.drug-report#d2c-b svg path {
  opacity: 1;
}
.drug-report#d2c-t-2 svg path {
  opacity: 1;
}
.drug-report#d2c-t-7 svg path {
  opacity: 1;
}
#dmdma {
  background-color: #e6425e;
  background-image: url(../images/mdma.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 75%;
  background-attachment: fixed;
}
#ddmt {
  background-color: #f24949;
  color: #4e443a;
  background-image: url(../images/dmt.svg);
  background-repeat: no-repeat;
  background-position: 35% 50%;
  background-size: 36%;
  background-attachment: fixed;
}
#d5-meo-dmt {
  background-color: #f24949;
  color: #4e443a;
  background-image: url(../images/5-meo-dmt.svg);
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: 36%;
  background-attachment: fixed;
}
#dlsd {
  background-image: url(../images/nebula1.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
}
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
/*
.for(@twoCSeries); .-each(@name) {
  #@{name} {
    .axis text {
        stroke: white;
    }
  }      
}
*/
/*
#d2c-e .axis path, #d2c-e .axis line, #d2c-e .axis text {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}
*/
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}
.d3-tip {
  line-height: 1.5;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  text-align: center;
  border-radius: 4px;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
svg.bg-pattern {
  display: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none;
}
