<!DOCTYPE html>
<html ng-app="app">
<head>
    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/.tmp/style.css">
    <!-- endinject -->
    <!-- endbuild -->
    <title>sentiment analysis of psychoactive drug experience reports</title>
</head>
<body ng-controller='Drugs' ng-cloak>
    <div class="container-fluid">
        <h1 class="jumbotron">{{title}}</h1>
    </div>
    <div id="intro">

    </div>
    <div class="container-fluid">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort By {{sortPreference.title}}
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-click="sortCollection('average')"><a>Average Sentiment Score</a></li>
                <li ng-click="sortCollection('positive')"><a>% Positive Experiences</a></li>
                <li ng-click="sortCollection('name')"><a>Alphabetical</a></li>
                <li ng-click="sortCollection('experiences')"><a>Number of Exeperiences</a></li>
            </ul>
        </div>
        <div id="top-pagination">
            <nav><ul class="pagination pagination-lg">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li  ng-click='assignProjection(1)' ng-class='{active: currentPage==1}'><a>1</a></li>
                <li ng-click='assignProjection(2)' ng-class='{active: currentPage==2}'><a>2</a></li>
                <li ng-click='assignProjection(3)' ng-class='{active: currentPage==3}'><a>3</a></li>
                <li ng-click='assignProjection(4)' ng-class='{active: currentPage==4}'><a>4</a></li>
                <li ng-click='assignProjection(5)' ng-class='{active: currentPage==5}'><a>5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
            </ul></nav>
        </div>
    </div>
    <div class="drug-list">
        <drug-list></drug-list>
    </div>

    <svg class="bg-pattern" xmlns='http://www.w3.org/2000/svg' width='8' height='8' data-stellar-background-ratio="0.5"><path d='M-2 10L10 -2ZM10 6L6 10ZM-2 2L2 -2' stroke='#222' stroke-width='3.5'/>
    </svg>


    <svg class="bg-pattern" xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'>
        <linearGradient id='g' x2='1' y2='1'>
        <stop stop-color='#F19'/>
        <stop offset='100%' stop-color='#0CF'/>
        </linearGradient>
        <rect width='100%' height='100%' fill='url(#g)'/>
    </svg>

    <div id="bottom-pagination">
        <nav><ul class="pagination pagination-lg">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li  ng-click='assignProjection(1)' ng-class='{active: currentPage==1}'><a>1</a></li>
            <li ng-click='assignProjection(2)' ng-class='{active: currentPage==2}'><a>2</a></li>
            <li ng-click='assignProjection(3)' ng-class='{active: currentPage==3}'><a>3</a></li>
            <li ng-click='assignProjection(4)' ng-class='{active: currentPage==4}'><a>4</a></li>
            <li ng-click='assignProjection(5)' ng-class='{active: currentPage==5}'><a>5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
        </ul></nav>
    </div>

    <!-- build:js js/lib.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/d3/d3.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/stellar/jquery.stellar.js"></script>
    <script src="/bower_components/d3-tip/index.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js js/app.js -->
    <!-- inject:js -->
    <script src="/src/client/app/app.module.js"></script>
    <script src="/src/client/app/drugs/drugs.module.js"></script>
    <script src="/src/client/app/drugs/drugs.controller.js"></script>
    <script src="/src/client/app/widgets/drug-list.directive.js"></script>
    <script src="/src/client/app/widgets/drug-report.directive.js"></script>
    <!-- endinject -->

    <!-- inject:templates:js -->
    <!-- endinject -->

    <!-- endbuild -->
</body>
